@import url('https://fonts.cdnfonts.com/css/akira-expanded');

body {
    background-color: rgb(239, 230, 216);
    margin: 0px;
    min-height: 100dvh;
}

@font-face {
  font-family: 'PP Fraktion Mono';
  src: url('/fonts/PPFraktionMono-Regular.woff2') format('woff2'),
       url('/fonts/PPFraktionMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.header1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(239, 230, 216);
    background-color: rgb(162, 0, 0);
    font-family: 'Akira Expanded', monospace, sans-serif;
    margin-bottom: 0px;
}

.header2{
    display: flex;
    justify-content: space-around;
    font-size: smaller;
    color: rgb(162, 0, 0);
    font-family: 'PP Fraktion Mono', monospace;
    margin-top: 0px;
}

.player_track{
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    color: rgb(0, 0, 0);
    font-family: 'PP Fraktion Mono', monospace;
}

.player_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin: 0px;
}

button{
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    padding: 16px;
    background-color: rgb(162, 0, 0, 50%);
}